
RewriteEngine on
RewriteCond %{HTTP_HOST} ^renew\.invernesscalvary\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.renew\.invernesscalvary\.com$
RewriteRule ^/?$ "https\:\/\/invernesscalvary\.churchcenteronline\.com\/registrations\/events\/5574" [R=301,L]

